herramientas/node-red/example5/flows_example5.json
[
    {
        "id": "b5b31cbd9a910d1b",
        "type": "tab",
        "label": "example5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d362c093347f7d5",
        "type": "inject",
        "z": "b5b31cbd9a910d1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "9998ae1a52166dae",
                "53c79e655216d0a2"
            ]
        ]
    },
    {
        "id": "53c79e655216d0a2",
        "type": "function",
        "z": "b5b31cbd9a910d1b",
        "name": "function",
        "func": "// Set min and max for random number\nvar min = -10 ;\nvar max = 10 ;\n\n// Generate random number and return it\nmsg.payload = Math.floor( Math.random() * (max + 1 - min)) + min ;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "29191e550261dff6",
                "9998ae1a52166dae"
            ]
        ]
    },
    {
        "id": "9998ae1a52166dae",
        "type": "debug",
        "z": "b5b31cbd9a910d1b",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "29191e550261dff6",
        "type": "ui_chart",
        "z": "b5b31cbd9a910d1b",
        "name": "",
        "group": "368f6ce6b4728454",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-11",
        "ymax": "11",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "368f6ce6b4728454",
        "type": "ui_group",
        "name": "Packt Chart",
        "tab": "040f477f73ff5397",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "040f477f73ff5397",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]